In [1]:
# !pip install numpy

##### Bitcoin price download: https://finance.yahoo.com/quote/BTC-USD/history?p=BTC-USD
##### talib whl 檔案下載位置:  https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib
##### talib 安裝指令: pip install TA_Lib-0.4.20-cp38-cp38-win_amd64.whl
##### talib 使用方式: http://mrjbq7.github.io/ta-lib/

In [2]:
import pandas as pd

In [3]:
pd.read_excel("BTC-USD.xlsx").head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0
3,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0

In [4]:
BTC = pd.read_excel("BTC-USD.xlsx")

In [5]:
BTC.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [6]:
BTC.shape

(2435, 7)

In [7]:
import pandas as pd
import numpy as np

In [8]:
inputs = {
    'open': np.random.random(5),
    'high': np.random.random(5),
    'low': np.random.random(5),
    'close': np.random.random(5),
    'volume': np.random.random(5)
}

In [9]:
print(type(inputs))
inputs

<class 'dict'>

{'open': array([0.76813172, 0.92002215, 0.07428706, 0.43481687, 0.37295729]),
 'high': array([0.09297875, 0.63086326, 0.13227613, 0.08017015, 0.01571054]),
 'low': array([0.98324458, 0.62222514, 0.53610351, 0.6476621 , 0.0905124 ]),
 'close': array([0.69308278, 0.69874056, 0.89303508, 0.67483878, 0.07736974]),
 'volume': array([0.78062751, 0.17033043, 0.41804327, 0.26597494, 0.09603702])}

In [10]:
print(type(inputs["open"]))
inputs["open"]

<class 'numpy.ndarray'>

array([0.76813172, 0.92002215, 0.07428706, 0.43481687, 0.37295729])

In [11]:
print(type(np.random.random(5)))
np.random.random(5)

<class 'numpy.ndarray'>

array([0.17937551, 0.22812794, 0.08678748, 0.03458684, 0.21894519])

In [12]:
BTC.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0
3,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0

In [13]:
print(type(BTC["Open"]))
BTC["Open"]

<class 'pandas.core.series.Series'>

0         424.102997
1         394.673004
2         408.084991
3         399.100006
4         402.092010
            ...
2430    49855.496094
2431    46716.636719
2432    46415.898438
2433    43488.058594
2434    42673.000000
Name: Open, Length: 2435, dtype: float64

In [14]:
# note that all ndarrays must be the same length!
inputs = {
    'open': BTC["Open"],
    'high': BTC["High"],
    'low':  BTC["Low"],
    'close':  BTC["Adj Close"],
    'volume': BTC["Volume"]
}

In [15]:
from talib.abstract import *

In [16]:
inputs["open"]

0         424.102997
1         394.673004
2         408.084991
3         399.100006
4         402.092010
            ...
2430    49855.496094
2431    46716.636719
2432    46415.898438
2433    43488.058594
2434    42673.000000
Name: Open, Length: 2435, dtype: float64

In [17]:
pd.isna(BTC)

       Date   Open   High    Low  Close  Adj Close  Volume
0     False  False  False  False  False      False   False
1     False  False  False  False  False      False   False
2     False  False  False  False  False      False   False
3     False  False  False  False  False      False   False
4     False  False  False  False  False      False   False
...     ...    ...    ...    ...    ...        ...     ...
2430  False  False  False  False  False      False   False
2431  False  False  False  False  False      False   False
2432  False  False  False  False  False      False   False
2433  False  False  False  False  False      False   False
2434  False  False  False  False  False      False   False

[2435 rows x 7 columns]

In [18]:
BTC.isnull().values.any()

True

In [19]:
pd.DataFrame(BTC).dropna()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
3,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,2.412760e+07
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,4.509950e+07
...,...,...,...,...,...,...,...
2430,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10
2431,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10
2432,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10
2433,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10
2434,2021-05-19,42673.000000,43546.117188,38787.902344,39429.738281,39429.738281,6.803769e+10

In [20]:
modify_BTC = pd.DataFrame(BTC).dropna()

In [21]:
modify_BTC = modify_BTC.reset_index().drop(columns=['index'])

In [22]:
modify_BTC

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
3,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,2.412760e+07
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,4.509950e+07
...,...,...,...,...,...,...,...
2426,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10
2427,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10
2428,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10
2429,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10
2430,2021-05-19,42673.000000,43546.117188,38787.902344,39429.738281,39429.738281,6.803769e+10

In [23]:
# note that all ndarrays must be the same length!
inputs = {
    'open': modify_BTC["Open"],
    'high': modify_BTC["High"],
    'low':  modify_BTC["Low"],
    'close':  modify_BTC["Adj Close"],
    'volume': modify_BTC["Volume"]
}

In [24]:
pd.DataFrame(SMA(inputs, timeperiod = 5, price='open')).head(10)

            0
0         NaN
1         NaN
2         NaN
3         NaN
4  405.610602
5  407.940204
6  413.636804
7  414.305603
8  415.196802
9  414.672601

In [25]:
open_5ma   = SMA(inputs, timeperiod = 5, price='open')
close_5ma  = SMA(inputs, timeperiod = 5, price='close')
close_10ma = SMA(inputs, timeperiod = 10, price='close')
close_20ma = SMA(inputs, timeperiod = 20, price='close')

In [26]:
modify_BTC.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [27]:
open_5ma

array([          nan,           nan,           nan, ..., 48481.2890628,
       47231.8140628, 45829.817969 ])

In [28]:
modify_BTC["open_5ma"] = open_5ma
modify_BTC["close_5ma"] = open_5ma
modify_BTC["close_10ma"] = open_5ma
modify_BTC["close_20ma"] = open_5ma

In [29]:
modify_BTC

,Date,Open,High,Low,Close,Adj Close,Volume,open_5ma,close_5ma,close_10ma,close_20ma
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,NaN,NaN,NaN,NaN
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,NaN,NaN,NaN,NaN
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,NaN,NaN,NaN,NaN
3,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,2.412760e+07,NaN,NaN,NaN,NaN
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,4.509950e+07,405.610602,405.610602,405.610602,405.610602
...,...,...,...,...,...,...,...,...,...,...,...
2426,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10,52367.136719,52367.136719,52367.136719,52367.136719
2427,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10,50541.015625,50541.015625,50541.015625,50541.015625
2428,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,48481.289063,48481.289063,48481.289063,48481.289063
2429,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,47231.814063,47231.814063,47231.814063,47231.814063
2430,2021-05-19,42673.000000,43546.117188,38787.902344,39429.738281,39429.738281,6.803769e+10,45829.817969,45829.817969,45829.817969,45829.817969

In [30]:
modify_BTC["y"] = None

In [31]:
modify_BTC

,Date,Open,High,Low,Close,Adj Close,Volume,open_5ma,close_5ma,close_10ma,close_20ma,y
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,NaN,NaN,NaN,NaN,None
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,NaN,NaN,NaN,NaN,None
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,NaN,NaN,NaN,NaN,None
3,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,2.412760e+07,NaN,NaN,NaN,NaN,None
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,4.509950e+07,405.610602,405.610602,405.610602,405.610602,None
...,...,...,...,...,...,...,...,...,...,...,...,...
2426,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10,52367.136719,52367.136719,52367.136719,52367.136719,None
2427,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10,50541.015625,50541.015625,50541.015625,50541.015625,None
2428,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,48481.289063,48481.289063,48481.289063,48481.289063,None
2429,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,47231.814063,47231.814063,47231.814063,47231.814063,None
2430,2021-05-19,42673.000000,43546.117188,38787.902344,39429.738281,39429.738281,6.803769e+10,45829.817969,45829.817969,45829.817969,45829.817969,None

In [32]:
import math

In [33]:
math.log(120, 10)

2.0791812460476247

In [34]:
modify_BTC.iloc[1, 5]

408.903992

In [35]:
math.log( modify_BTC.iloc[1, 5]/modify_BTC.iloc[0, 5] , 10)

0.015248617626229791

In [36]:
modify_BTC.shape[0]

2431

In [37]:
for i in range(0, modify_BTC.shape[0]-1):
    modify_BTC.iloc[i, -1] = math.log( modify_BTC.iloc[i+1, 5]/modify_BTC.iloc[i, 5] , 10)

In [38]:
modify_BTC

,Date,Open,High,Low,Close,Adj Close,Volume,open_5ma,close_5ma,close_10ma,close_20ma,y
0,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,NaN,NaN,NaN,NaN,0.0152486
1,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,NaN,NaN,NaN,NaN,-0.0108433
2,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,NaN,NaN,NaN,NaN,0.00361221
3,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,2.412760e+07,NaN,NaN,NaN,NaN,0.034888
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,4.509950e+07,405.610602,405.610602,405.610602,405.610602,-0.0127275
...,...,...,...,...,...,...,...,...,...,...,...,...
2426,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10,52367.136719,52367.136719,52367.136719,52367.136719,-0.00283388
2427,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10,50541.015625,50541.015625,50541.015625,50541.015625,-0.0281788
2428,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,48481.289063,48481.289063,48481.289063,48481.289063,-0.00631114
2429,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,47231.814063,47231.814063,47231.814063,47231.814063,-0.0367286
2430,2021-05-19,42673.000000,43546.117188,38787.902344,39429.738281,39429.738281,6.803769e+10,45829.817969,45829.817969,45829.817969,45829.817969,None

In [39]:
modify_BTC.dropna()

,Date,Open,High,Low,Close,Adj Close,Volume,open_5ma,close_5ma,close_10ma,close_20ma,y
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,4.509950e+07,405.610602,405.610602,405.610602,405.610602,-0.0127275
5,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,3.062770e+07,407.940204,407.940204,407.940204,407.940204,-0.0121028
6,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,2.681440e+07,413.636804,413.636804,413.636804,413.636804,-0.00760996
7,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,2.146080e+07,414.305603,414.305603,414.305603,414.305603,-0.00529947
8,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,1.502930e+07,415.196802,415.196802,415.196802,415.196802,-0.0249887
...,...,...,...,...,...,...,...,...,...,...,...,...
2425,2021-05-14,49682.980469,51438.117188,48868.578125,49880.535156,49880.535156,5.573750e+10,54046.211719,54046.211719,54046.211719,54046.211719,-0.0280549
2426,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10,52367.136719,52367.136719,52367.136719,52367.136719,-0.00283388
2427,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10,50541.015625,50541.015625,50541.015625,50541.015625,-0.0281788
2428,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,48481.289063,48481.289063,48481.289063,48481.289063,-0.00631114
2429,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,47231.814063,47231.814063,47231.814063,47231.814063,-0.0367286

In [40]:
modify_BTC = modify_BTC.dropna()

In [41]:
modify_BTC.head()

,Date,Open,High,Low,Close,Adj Close,Volume,open_5ma,close_5ma,close_10ma,close_20ma,y
4,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,405.610602,405.610602,405.610602,405.610602,-0.0127275
5,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,407.940204,407.940204,407.940204,407.940204,-0.0121028
6,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,413.636804,413.636804,413.636804,413.636804,-0.00760996
7,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,414.305603,414.305603,414.305603,414.305603,-0.00529947
8,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,415.196802,415.196802,415.196802,415.196802,-0.0249887

In [42]:
modify_BTC.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,open_5ma,close_5ma,close_10ma,close_20ma,y
2425,2021-05-14,49682.980469,51438.117188,48868.578125,49880.535156,49880.535156,5.573750e+10,54046.211719,54046.211719,54046.211719,54046.211719,-0.0280549
2426,2021-05-15,49855.496094,50639.664063,46664.140625,46760.187500,46760.187500,5.916105e+10,52367.136719,52367.136719,52367.136719,52367.136719,-0.00283388
2427,2021-05-16,46716.636719,49720.042969,43963.351563,46456.058594,46456.058594,6.404787e+10,50541.015625,50541.015625,50541.015625,50541.015625,-0.0281788
2428,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,48481.289063,48481.289063,48481.289063,48481.289063,-0.00631114
2429,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,47231.814063,47231.814063,47231.814063,47231.814063,-0.0367286

In [43]:
# output = SMA(inputs, timeperiod=25) # calculate on close prices by default
# print(output)
# print(len(list(output)))
# print(pd.DataFrame(output).dropna())
# print(pd.DataFrame(output).dropna().shape)

# output = SMA(inputs, timeperiod=25, price='open') # calculate on opens
# print(output)
# upper, middle, lower = BBANDS(inputs, 20, 2, 2)
# print(upper, middle, lower)
# slowk, slowd = STOCH(inputs, 5, 3, 0, 3, 0) # uses high, low, close by default
# print(slowk, slowd)
# slowk, slowd = STOCH(inputs, 5, 3, 0, 3, 0, prices=['high', 'low', 'open'])
# print(slowk, slowd)